p.tableHead {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

p.tableHead2 {
    font-family: verdana;
    font-size: 15px;
    text-align: center;
}

a:visited {
    color: rgb(206, 158, 162);
}

th {
    background-color:white;
}

@media (max-width:991px) {
    .dayTableDiv, .weekTableDiv {
        display: none;
    }
}

@media (max-width:991px) {
    #tables {
        display: block;
    }
}

@media (min-width:992px) {
    .dayTableDiv, .weekTableDiv, .monthTableDiv {
        display: inline-table !important;
        width:33% !important;
    }
}

@media (min-width: 992px) {
    #tables {
        display: none;
    }
}


