p.tableHead {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

p.tableHead2 {
    font-family: verdana;
    font-size: 15px;
    text-align: center;
}

a:visited {
    color: rgb(206, 158, 162);
}

div.tableDiv {
    display: inline-table;
}

@media (min-width:1000px) {
    .tableDiv {
        width:30%;
    }
}