p.tableHead {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

p.tableHead2 {
    font-family: verdana;
    font-size: 15px;
    text-align: center;
}

a:visited {
    color: rgb(206, 158, 162);
}

th {
    background-color:white;
}

span.glyphicon {
    color: #9b9494;
}

@media (max-width:991px) {
    .dayTableDiv, .weekTableDiv {
        display: none;
    }
    #tables {
        display: block;
    }
}

@media (min-width:992px) {
    .dayTableDiv, .weekTableDiv, .monthTableDiv {
        display: inline-table !important;
        width:30% !important;
    }
    #tables {
        display: none;
    }
    .dayTableDiv {
        margin-right: 20px;
    }
    .weekTableDiv {
        margin-right: 10px;
        margin-left: 10px;
    }
    .monthTableDiv {
        margin-left: 20px;
    }
}



