// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Basic styles
p.tableHead {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

p.tableHead2 {
  font-size: 15px;
  text-align: center;
}

a.link:visited, a.linkDate:visited {
  color: rgb(206, 158, 162);
}

th {
  background-color:white;
}

.roundButton {
  z-index: 99;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}

.roundButton:hover {
  background-color: #555;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 60px;
}

#toHome {
  top: 30px;
  left: 60px;
}

// Mobile overlay
#topName, #topRank {
  font-size: 15px;
}

#topDiff {
  font-size: 13px;
}

#bottomName {
  font-size: 18px;
}

#topRank {
  margin-top: 10px;
}

#topStatus, #bottomStatus {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  z-index:999;
  top: 0;
  width: 100%;
  height: 100%;
}

.section1 {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 2px solid #ababab;
}

.section2 {
  height: calc( 100% - 100px );
  width: 100%;
  top: 50px;
  position: fixed;
  background-color: #ffffff;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
}

.section3 {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 2px solid #ababab;
}

.layout {
  display: table;
  width: 100%;
  text-align: center;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
}

.tableCellLeft {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  text-align: center;
}

.tableCellTopLeft {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  text-align: left;
}

.tableCellMiddle {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  text-align: left;
}

.tableCellRight {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  text-align: right;
}


// Mobile overlay IFrame loading indicator
.loader {
  height: 4px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: fixed;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

//Tables
.historyTable {
  display: inline-table;
  width:40%;
}


// Responsive styles
@media (max-width: 450px) {
  #topName {
    max-width: 100px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #bottomName {
    max-width: 180px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .link {
    display :inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 450px) {
  #topName {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #bottomName {
    max-width: 270px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .link {
    display :inline-block;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 700px) {
  #topName, #bottomName {
    max-width: 500px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .link {
    display :inline-block;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-height: 900px) {
  .similarImg, .alexaImg {
    width: 30px;
    height: 30px;
  }

}

@media (max-height: 900px) {
  .similarImg, .alexaImg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width:1200px) {
  .dayTableDiv, .weekTableDiv {
    display: none;
  }
  .monthTableDiv {
    display:block;
  }
  #tables {
    display: block;
  }
}

@media (min-width:1200px) {
  .dayTableDiv, .weekTableDiv, .monthTableDiv {
    display: inline-table !important;
    width:30% !important;
  }
  #tables {
    display: none;
  }
  .dayTableDiv {
    margin-right: 15px;
  }
  .weekTableDiv {
    margin-right: 5px;
    margin-left: 5px;
  }
  .monthTableDiv {
    margin-left: 15px;
  }
  .link {
    display :inline-block;
    max-width: 100px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}